@tailwind base;

@tailwind components;

@tailwind utilities;


@layer components {
    .containerMobileMenu {
        @apply absolute right-10 top-36 p-7 z-0 bg-rose-primay rounded-xl duration-700;
    }

    .containerDesktopMenu {
        @apply bg-transparent duration-0 h-max static flex items-center gap-20 translate-y-0 opacity-100;
    }

    .btnHeader {
        @apply p-3 px-5 bg-brown-primary rounded-3xl text-white font-semibold mt-7 lg:mt-0 lg:text-xl lg:px-8;
    }

    .navLink {
        @apply text-lg text-brown-primary font-medium cursor-pointer lg:text-xl;
    }

    .navLinkAfter {
        @apply after:content-[''] after:block after:h-0.5 after:rounded-lg after:bg-brown-primary after:w-0 after:duration-300;
    }

    .hiddenMenuMobile {
        @apply translate-y-[-50] opacity-0;
    }

    .showMenuMobile {
        @apply translate-y-0 opacity-100;
    }
}


body {
    background-color: #f7f2e8;
    font-family: "Poppins", sans-serif;
    background-image: url('./assets/images/titulo-bg.svg');
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: 0 15%;

}

@media (width >=768px) {
    body {
        background-size: 100%;
    }
}

@media (width >= 1024px) {
    body {
        background-image: url('./assets/images/titulo-bg.svg'), url('assets/images/about-bg.svg');
        background-position: 0 40%, 0 90%;
    }
}

@media (width >= 1280px) {
    body {
        background-image: url('./assets/images/titulo-bg.svg'), url('assets/images/about-bg.svg');
        background-position: 0 40%, 0 95%;
    }
}


/* Menu Hamburger */

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #3c0e0e;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}